<form>
    <div>
      <label for="oldFileName">Old File Name:</label>
      <input type="text" id="oldFileName" name="oldFileName" value="">
    </div>
    <div>
      <label for="newFileName">New File Name:</label>
      <input type="text" id="newFileName" name="newFileName" value="">
    </div>
    <div>
      <label for="social">Social:</label>
      <input type="text" id="social" name="social" value="">
    </div>
    <div>
      <label for="image">Image:</label>
      <input type="file" id="image" name="image" accept="image/*">
    </div>
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" value="">
    </div>
    <div>
      <label for="rank">Rank:</label>
      <input type="number" id="rank" name="rank" value="">
    </div>
    <div>
      <label for="competition">Competition:</label>
      <input type="text" id="competition" name="competition" value="">
    </div>
    <div>
      <label for="date">Date:</label>
      <input type="date" id="date" name="date" value="">
    </div>
    <div>
      <label for="edu">Edu:</label>
      <input type="text" id="edu" name="edu" value="">
    </div>
    <div>
      <button type="submit">Edit</button>
    </div>
  </form>