<footer>
  <div class="container">
    <div class="card footer">
      <div class="footer-bottom">
        <p class="copyright">
          &copy;
          <a
            href="https://www.facebook.com/saint.george.portsaid"
            class="copyright-link"
            >St.George Church.</a
          >
        </p>

        <ul class="social-list facebock">
          <li class="facebook">
            <a
              href="https://www.facebook.com/saint.george.portsaid"
              class="social-link"
            >
              <i class="fa-brands fa-facebook"></i>

              <span class="span">Facebook</span>
            </a>
          </li>
        </ul>
      </div>
      <div style="border-block-start: 1px solid var(--border-prussian-blue);"></div>
      <div class="footer-bottom">
        <p class="copyright">
          &copy; Developed by
          <a
            href="https://www.facebook.com/marco.webdeveloper/"
            class="copyright-link"
            >Mark Maher.</a
          >
        </p>

        <ul class="social-list facebock">
          <li class="facebook">
            <a
              href="https://www.facebook.com/marco.webdeveloper/"
              class="social-link"
            >
              <i class="fa-brands fa-facebook"></i>

              <span class="span">Facebook</span>
            </a>
          </li>

          <li class="github">
            <a href="https://github.com/Marco5dev" class="social-link">
              <i class="fa-brands fa-github"></i>

              <span class="span">Github</span>
            </a>
          </li>

          <li class="instagram">
            <a href="https://instagram.com/marco5dev" class="social-link">
              <i class="fa-brands fa-instagram"></i>

              <span class="span">Instagram</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<!-- 
    - #BACK TO TOP
  -->
<button
  id="scrollTo"
  class="back-top-btn"
  aria-label="back to top"
  data-back-top-btn
>
  <ion-icon name="arrow-up-outline" aria-hidden="true"></ion-icon>
</button>
