<footer>
  <div class="container">
    <div class="card footer">
      <div class="section footer-top">
        <div class="footer-brand">
          <p class="footer-list-title">Address</p>

          <address class="footer-text address" dir="ltr">
            Egypt <br />
            Mohamed Ali St., Port Said
          </address>
        </div>

        <div class="footer-list">
          <p class="footer-list-title">Categories</p>

          <ul>
            <li>
              <a href="#22" class="footer-link hover-2">2022</a>
            </li>
            <li>
              <a href="#21" class="footer-link hover-2">2021</a>
            </li>
            <li>
              <a href="#20" class="footer-link hover-2">2020</a>
            </li>
            <li>
              <a href="#19" class="footer-link hover-2">2019</a>
            </li>
            <li>
              <a href="#18" class="footer-link hover-2">2018</a>
            </li>
            <li>
              <a href="#chess" class="footer-link hover-2">Chess</a>
            </li>
            <li>
              <a href="#computer" class="footer-link hover-2">Computer</a>
            </li>
            <li>
              <a href="#art" class="footer-link hover-2">Art</a>
            </li>
            <li>
              <a href="#music" class="footer-link hover-2">Music</a>
            </li>
            <li>
              <a href="#football" class="footer-link hover-2">Football</a>
            </li>
            <li>
              <a href="#research" class="footer-link hover-2">Research</a>
            </li>
            <li>
              <a href="#photography" class="footer-link hover-2">Photography</a>
            </li>
          </ul>
        </div>

        <div class="footer-list">
          <p class="footer-list-title">Newsletter</p>

          <p
            class="footer-text"
            style="font-family: var(--fontFamily-noto_sans)"
          >
            call us in any time we will be happy talk to you ♥
          </p>

          <div class="input-wrapper">
            <input
              type="text"
              name="name"
              placeholder="Your name"
              required
              class="input-field"
              autocomplete="off"
            />

            <ion-icon name="person-outline" aria-hidden="true"></ion-icon>
          </div>

          <div class="input-wrapper">
            <input
              type="email"
              name="email_address"
              placeholder="Emaill address"
              required
              class="input-field"
              autocomplete="off"
            />

            <ion-icon name="mail-outline" aria-hidden="true"></ion-icon>
          </div>

          <a href="#" class="btn btn-primary">
            <span class="span">Contact</span>

            <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
          </a>
        </div>
      </div>

      <div class="footer-bottom">
        <p class="copyright">
          &copy; Developed by
          <a
            href="https://www.facebook.com/marco.webdeveloper/"
            class="copyright-link"
            >Mark Maher.</a
          >
        </p>

        <ul class="social-list">
          <li>
            <a
              href="https://www.facebook.com/marco.webdeveloper/"
              class="social-link"
            >
              <ion-icon name="logo-facebook"></ion-icon>

              <span class="span">Facebock</span>
            </a>
          </li>

          <li>
            <a href="https://github.com/Marco5dev" class="social-link">
              <ion-icon name="logo-github"></ion-icon>

              <span class="span">Github</span>
            </a>
          </li>

          <li>
            <a href="https://instagram.com/marco5dev" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>

              <span class="span">Instagram</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
