<footer>
  <div class="container">
    <div class="card footer">
      <div class="footer-bottom">
        <p class="copyright">
          &copy; Developed by
          <a
            href="https://www.facebook.com/marco.webdeveloper/"
            class="copyright-link"
            >Mark Maher.</a
          >
        </p>

        <ul class="social-list facebock">
          <li class="facebook">
            <a
              href="https://www.facebook.com/marco.webdeveloper/"
              class="social-link"
            >
              <i class="fa-brands fa-facebook"></i>

              <span class="span">Facebook</span>
            </a>
          </li>

          <li class="github">
            <a href="https://github.com/Marco5dev" class="social-link">
              <i class="fa-brands fa-github"></i>

              <span class="span">Github</span>
            </a>
          </li>

          <li class="instagram">
            <a href="https://instagram.com/marco5dev" class="social-link">
              <i class="fa-brands fa-instagram"></i>

              <span class="span">Instagram</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
