<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- MAIN META TAGS -->
  <meta name="keywords" content="st.george, stgeorge, st, george, winners, church" />
  <meta name="title" content="St.George">
  <meta name="description" content="صفحه كنيسه الشهيد العظيم مارجرجس ببورسعيد" />
  <meta name="copyright" content="marco5dev">
  <meta name="language" content="EN, AR">
  <meta name="author" content="Mark Maher">
  <meta name="designer" content="Marco5dev">
  <meta name="copyright" content="Marco5dev">
  <meta name="reply-to" content="contact@marco5dev.site">
  <meta name="owner" content="Mark Maher (Marco5dev)">
  <meta name="url" content="http://stgeorge.marco5dev.site">

  <!-- OG META TAGS -->
  <meta name="og:title" content="St.George" />
  <meta name="og:type" content="church" />
  <meta name="og:url" content="htpps://stgeorge.marco5dev.site" />
  <meta name="og:image" content="/image/website-img1.png" />
  <meta name="og:site_name" content="St.George" />
  <meta name="og:description" content="صفحه كنيسه الشهيد العظيم مارجرجس ببورسعيد" />
  <meta name="fb:page_id" content="saint.george.portsaid" />
  <meta name="og:email" content="contact@marco5dev.site" />
  <meta name="og:region" content="EG" />
  <meta name="og:country-name" content="EGYPT" />


  <!-- 
    - primary meta tags
  -->
  <title>
    <%= title %>
  </title>

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="./favicon.png" type="image/png" />

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800&display=swap"
    rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet" />

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="/css/style.css" />
  <link id="themeStylesheet" rel="stylesheet" href="/css/dark.css" />

  <!-- 
    - Font Awesome
   -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- 
    - axios
   -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>