<!DOCTYPE html>
<html lang="en">
  <%- include("./components/head") %>

  <body id="top" class="light">
    <!-- 
    - #HEADER
  -->
    <%- include("./components/header", { isPersistentLoggedIn: isPersistentLoggedIn, dashboardLoginPersistentValue: dashboardLoginPersistentValue }) %>

    <!-- 
    - Main
   -->
    <main>
      <article>
        <section
          class="section feature feature-phone"
          aria-label="feature"
          id="recent-post"
        >
          <div class="container">
            <h2 class="headline headline-2 section-title">
              <span class="span">500 Internal server error</span>
            </h2>

            <p class="section-text">
              sorry something went wrong please try again later
              <a href="/">Home Page</a> <br />
              you can contact the developer with code 500 if that take so long
              <a
                href="https://www.facebook.com/marco.webdeveloper/"
                class="copyright-link"
                >Mark Maher</a
              >
            </p>
          </div>

          <img
            src="/images/shadow-3.svg"
            width="500"
            height="1500"
            loading="lazy"
            alt=""
            class="feature-bg"
          />
        </section>
      </article>
    </main>

    <!-- 
    - #FOOTER
  -->
    <%- include("./components/footer") %>

    <!-- 
    - custom js link
  -->
    <%- include("./components/javascript") %>

    <!-- 
  - ion icon link
-->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
