<style>
  body {
    background: #23242a;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .dropdown {
    min-width: 15em;
    position: relative;
    margin: 2em;
  }

  .dropdown * {
    box-sizing: border-box;
  }

  .select {
    background: #2a2f3b;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    border: 2px #2a2f3b;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
  }

  .select-clicked {
    border: 2px #26489a;
    box-shadow: 0 0 0.8em #26489a;
  }

  .select:hover {
    background: #323741;
  }

  .caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
  }

  .caret-routate {
    transform: rotate(180deg);
  }

  .menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background: #323741;
    border: 1px #363a43 solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: #9fa5b5;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    z-index: 5;
  }

  .menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
  }

  .menu li:hover {
    background: #2a2d35;
  }

  .active {
    background: #23242a;
  }

  .meu-open {
    display: block;
    opacity: 1;
  }

</style>

<div class="dropdown">
  <div class="select">
    <span class="selected">figma</span>
    <div class="caret"></div>
  </div>
  <ul class="menu">
    <li>Framer</li>
    <li>Sketch</li>
    <li>Invinsion Stodio</li>
    <li class="active">figma</li>
    <li>adobe XD</li>
  </ul>
</div>


<script>
  const dropdowns = document.querySelectorAll('.dropdown')

  dropdowns.forEach(dropdown => {
    const select = dropdown.querySelector('.select');
    const caret = dropdown.querySelector('.caret');
    const menu = dropdown.querySelector('.menu');
    const options = dropdown.querySelector('.options');
    const selected = dropdown.querySelector('.selected');


    select,addEventListener('click', () => {
      select.classList.toggle('select-clicked');
      caret.classList.toggle('caret-rotate');
      menu.classList.toggle('menu-open');
    })

    options.forEach(option => {
      option.addEventListener('click', () => {
        selected.innerText = option.innerText;
        select.classList.remove('select-clicked')
        caret.classList.remove('caret-rotate')
        menu.classList.remove('menu-open')
        options.forEach(option => {
          option.classList.remove('active')
        });
        option.classList.add('active')
      });
    });
  });
</script>