<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login for the dashboard</title>
    <link rel="stylesheet" href="/css/login.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="wrapper">
      <form method="post" action="/dash/login">
        <h2>Login</h2>
        <div class="input-field">
          <input type="text" id="username" name="username" required />
          <label>Username:</label>
        </div>
        <div class="input-field">
          <input
            type="password"
            name="password"
            autocomplete="current-password"
            required
            id="id_password"
            minlength="8"
            maxlength="23"
          />
          <i
            class="fa-regular fa-eye"
            id="togglePassword"
            style="
              margin-left: -20px;
              margin-top: 10px;
              cursor: pointer;
              color: #fff;
              display: inline-flex;
              position: absolute;
            "
          ></i>
          <label>Password:</label>
        </div>
        <div class="forget">
          <label for="remember">
            <input type="checkbox" id="remember" name="remember" />
            <p>Remember me</p>
          </label>
        </div>
        <button type="submit">Log In</button>
      </form>
    </div>

    <script>
      const togglePassword = document.querySelector("#togglePassword");
      const password = document.querySelector("#id_password");
      const usernameInput = document.querySelector("#username");
      const passwordInput = document.querySelector("#id_password");

      togglePassword.addEventListener("click", function (e) {
        // toggle the type attribute
        const type =
          password.getAttribute("type") === "password" ? "text" : "password";
        password.setAttribute("type", type);

        // toggle the eye slash icon class
        if (togglePassword.classList.contains("fa-eye")) {
          togglePassword.classList.remove("fa-eye");
          togglePassword.classList.add("fa-eye-slash");
        } else {
          togglePassword.classList.remove("fa-eye-slash");
          togglePassword.classList.add("fa-eye");
        }
      });

      usernameInput.addEventListener("blur", function () {
        if (usernameInput.value !== "") {
          usernameInput.classList.add("filled");
        } else {
          usernameInput.classList.remove("filled");
        }
      });

      passwordInput.addEventListener("blur", function () {
        if (passwordInput.value !== "") {
          passwordInput.classList.add("filled");
        } else {
          passwordInput.classList.remove("filled");
        }
      });

      // Check if password has value on page load
      window.addEventListener("load", function () {
        if (passwordInput.value !== "") {
          passwordInput.classList.add("filled");
        }
      });
    </script>
  </body>
</html>
